<div class="form-group">
    <label class="sr-only" for="new-attribute-name">Project description: </label>
    <div class="col-sm-8">{{input type="text" id="new-attribute-name" placeholder="Enter attribute name..."
    value=newAttributeName class="form-control"}}</div>
</div>

<button class="btn btn-default"
    {{ action "addAttribute"}}>Add</button>

<br/><br/>

<ul>
    {{#each model}}
        <li>{{name}}</li>
    {{/each}}
</ul>