<div class="navbar navbar-default">
    <a class="navbar-brand" href="#">Demo Test Analytics</a>
    <ul class="nav navbar-nav">
        <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
    </ul>
</div>

{{outlet}}