<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Completion</th>
        <th>Components</th>
        <th>Lead</th>
    </tr>
    </thead>

    {{#each model}}
        <tr>
            <td>
                {{#link-to 'project' this}}
                    {{name}}
                {{/link-to}}
            </td>
            <td>
                {{format-date completion}}
            </td>
            <td>
                {{#each components}}
                    {{name}} &nbsp;
                {{/each}}
            </td>
            <td>
                {{lead}}
            </td>
        </tr>
    {{/each}}
</table>